<h2 class="text-center add-form-title">{{'style.add.title' | translate}}</h2>

<form class="my-form" [formGroup]="StyleAddForm">
    <div class="add-form-group">
        <div class="add-form-group">
            <mat-form-field class="text-center">
                <input matInput placeholder="{{'style.champs.name' | translate}}" [formControl]="nameControl" name="name"/>
            </mat-form-field>
        </div>
    </div>
    <div class="add-form-group">
        <div class="add-form-group">
            <mat-form-field class="text-center">
                <mat-select matInput name="typeControl" [formControl]="typeControl">
                    <mat-option  *ngFor="let enum of styleTypeEnum.values()" [value]="enum">
                        {{styleTypeEnum[enum]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <line-add-dialog *ngIf="typeControl.value == 'LINE'"  [parentForm]="StyleAddForm"></line-add-dialog>
    <point-add-dialog *ngIf="typeControl.value == 'POINT'" [parentForm]="StyleAddForm"></point-add-dialog>
    <polygon-add-dialog *ngIf="typeControl.value == 'POLYGON'"  [parentForm]="StyleAddForm"></polygon-add-dialog>

    <div mat-dialog-action align="center" class="edit-form-group">
        <button class="action-button" mat-flat-button color="primary" (click)='handleSubmitClick()'>{{'common.buttons.submit' | translate}}</button>
        <button class="action-button" mat-flat-button color="warn">{{'common.buttons.cancel' | translate}}</button>
    </div>
</form>