@import '../../colors.scss';

.global{
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    text-align: center;
}

.message{
    font-size: 2em;
    font-weight: 600;
    color: $white-text-color;
}