<h2 class="text-center add-form-title">{{'style.read.title' | translate}}</h2>

<form class="my-form" [formGroup]="StyleReadForm">
    <div class="read-form-group">
        <div class="read-form-group">
            <mat-form-field class="text-center">
                <input matInput readonly placeholder="{{'style.champs.name' | translate}}" [formControl]="nameControl" name="name">
            </mat-form-field>
        </div>
    </div>
    <div class="read-form-group">
        <div class="read-form-group">
            <mat-form-field class="text-center">
                <input matInput readonly placeholder="{{'style.champs.type' | translate}}" [formControl]="typeControl" name="type">
            </mat-form-field>
        </div>
    </div>


    <point-read-dialog *ngIf="typeControl.value == 'POINT'"></point-read-dialog>
    <line-read-dialog *ngIf="typeControl.value == 'LINE'"></line-read-dialog>
    <polygon-read-dialog *ngIf="typeControl.value == 'POLYGON'"></polygon-read-dialog>

</form>