
.ms-signalement-management-panel .signalement-management-panel {
    position: absolute;
    width: 20%;
    left: 30%;
    top: 0px;
    background-color: white;
    box-shadow: -1px 1px 5px 1px #5e5e5e;
    z-index: 1040;
}

.signalement-management-panel .signalement-management-form {
    margin-left: 10px;
    margin-right:10px;
}

.signalement-management-panel .signalement-management-form .row {
    margin-bottom: 5px;
}

.signalement-management-panel .form-group {
    margin-bottom: 8px;
}

.signalement-management-panel legend {
    font-size: 18px;
}

.signalement-management-panel label {
    width: 30%;
}

.signalement-management-panel input {
    width: 65%;
    display: inline-block;
}

.signalement-management-panel .ms-header-title {
    background-color: #078aa3;
    color: white;
    display: flex;
    align-items: center;
}
.signalement-management-panel .square-button {
    background: transparent;
    color: white;
}
.signalement-management-panel .col-xs-10 {
    padding: 10px 15px;
}
.signalement-management-panel h4 {
    margin: 0;
}
.signalement-management-panel .signalement-panel-body {
    padding: 5px;
}
.signalement-management-panel .signalement-management-form .label {
    background: transparent;
    color: #333333;
}
.signalement-management-panel .signalement-action-buttons {
    text-align: right;
}
.signalement-management-panel .signalement-action-buttons button {
    margin-left: 5px;
}

span .error {
    color: red;
}

span .info {
    color: orange;
}

.cancelButton {
    margin: 40px 0px 0 0px;
    float: right;
}

.updateButton {
    margin: 40px 0px 0 0px;
    float: right;
}


.claimButton {
    margin: auto;
    display: block ;
}

.errorTask {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button-navigation{
    margin-left: 45px;
}

.button-navigation button{
    margin-right: 10px;
}

.actionsList{
    margin-left: 30px;
}