
.ms-signalement-management-panel .signalement-management-panel {
    position: absolute;
    width: 20%;
    left: 30%;
    top: 0px;
    background-color: white;
    box-shadow: -1px 1px 5px 1px #5e5e5e;
    z-index: 1040;
}

.signalement-management-panel .signalement-management-form {
    margin-left: 10px;
    margin-right:10px;
}

.signalement-management-panel .signalement-management-form .row {
    margin-bottom: 5px;
}

.signalement-management-panel .form-group {
    margin-bottom: 8px;
}

.signalement-management-panel legend {
    font-size: 18px;
}

.signalement-management-panel input {
    width: 100%;
    display: inline-block;
}

.signalement-management-panel .ms-header-title {
    background-color: #078aa3;
    color: white;
    display: flex;
    align-items: center;
}
.signalement-management-panel .square-button {
    background: transparent;
    color: white;
}
.signalement-management-panel .col-xs-10 {
    padding: 10px 15px;
}
.signalement-management-panel h4 {
    margin: 0;
}
.signalement-management-panel .signalement-panel-body {
    padding: 5px;
}
.signalement-management-panel .signalement-management-form .label {
    background: transparent;
    color: #333333;
}
.signalement-management-panel .signalement-action-buttons {
    text-align: right;
}
.signalement-management-panel .signalement-action-buttons button {
    margin-left: 5px;
}

span .error {
    color: red;
}

span .info {
    color: orange;
}

.validation-buttons {
    padding-right: 15px;
}

.cancelButton {
    margin: 40px 0px 0 0px;
    float: right;
}

.updateButton {
    margin: 40px 0px 0 0px;
    float: right;
}


.claimButton {
    margin: auto;
    display: block ;
}

.errorTask {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button-navigation{
    margin-left: 45px;
}

.button-navigation button{
    margin-right: 10px;
}

.actionsList{
    margin-left: 30px;
}


.signalement-management-panel .form-group {
    margin-bottom: 8px;
}

.signalement-management-panel legend {
    font-size: 18px;
}

.signalement-management-panel .manual {
    margin: 20px 0;
}

.signalement-management-panel .block-display-plui-request {
    text-align: center;
    margin: 20px 0;
}

.signalement-management-panel .radio-form {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin: 5px 0;
    padding-left: 10px;
}

.signalement-management-panel .radio-form .radio-block {
    display: flex;
    margin: 5px;
}

.signalement-management-panel .radio-form .radio-block button {
    margin-left: auto;
    width: 16%;
}

.signalement-management-panel .radio-form .radio-select {
    width: 80%;
    margin: 5px;
}

.signalement-management-panel .input-group {
    width: 100%;
}

.signalement-management-panel .input-group .addon {
    width: 35%;
}

.signalement-management-panel .block-valid-form {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.signalement-management-panel .block-valid-form .validation-button {
    margin-left: 5px;
}

.signalement-management-panel .plui-loading-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin: auto;
    position: absolute;
    display: block;
    vertical-align: center;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .60);
    z-index: 999;
}

.signalement-management-panel .plui-loading-container .plui-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    white-space: nowrap;
    text-align: center;
}

.signalement-management-panel .plui-loading-container .plui-loading .mapstore-inline-loader {
    display: block !important;
    margin: auto;
    height: 300px;
    width: 300px;
}

.signalement-management-panel .plui-loading-container .plui-loading span {
    font-size: 22px;
    color: white;
}

.signalement-management-panel .plui-loading-container .plui-loading .sk-circle:before {
    background-color: white;
}

span .error {
    color: red;
}

span .info {
    color: orange;
}

.signalement-management-panel fieldset {
    margin: 0 25px 0 30px;
}

.signalement-management-viewer fieldset {
    margin: 16px 0;
}

.signalement-management-request-viewer .button-navigation,
.signalement-management-viewer .button-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 0 18px 0;
}

.plui-evolution-request-viewer .button-navigation button,
.signalement-management-viewer .button-navigation button {
    height: 50px;
    width: 50px;
}

.signalement-management-request-viewer .button-navigation button .glyphicon,
.signalement-management-viewer .button-navigation button .glyphicon {
    font-size: 26px;
}

.signalement-management-viewer .coordinates-text {
    height: 52px;
    font-size: 15px;
    border-bottom: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
    padding-top: 13px;
}


.signalement-management-viewer .block-valid-form {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.signalement-management-viewer .block-valid-form .validation-button {
    margin-left: 15px;
}
