/* You can add global styles to this file, and also import other style files */

@import 'colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar{
    background: $error-color;
    text-align: center;
    margin:auto;
}

.success-snackbar{
    background-color: $success-color;
}

.warning-snackbar{
    background-color: $warning-color;
}

.snackbar span{
    text-align: center;
    margin:auto;
}
