#ms-signalement-panel .container-fluid {
    padding-left: 0;
    padding-right: 0
}
.signalement-dock-container {
    z-index: 1050;
}
.signalement-panel {
    margin: 5px;
}

.signalement-panel .form-group {
    margin-bottom: 8px;
}

.signalement-panel legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.geOrchestra .signalement-panel label,
.signalement-panel label {
    width: 30%;
}

.geOrchestra .signalement-panel input,
.signalement-panel input {
    width: 65%;
    display: inline-block;
}
.geOrchestra .signalement-panel input[type=checkbox] {
    height: 20px;
}

.signalement-panel .input-group {
    width: 100%;
}

.signalement-panel .input-group .addon {
    width: 35%;
}

.signalement-panel .block-valid-form,
.signalement-panel .block-inline-spinner {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.signalement-panel .block-valid-form .validation-button {
    margin-left: 5px;
}

.signalement-panel .block-valid-form button {
    height: 30px;
}
.signalement-panel .block-inline-spinner .inline-spinner {
    width: 30px;
}

.signalement-panel .instructions .info-glyph {
    font-size: 20px;
}

.signalement-panel .instructions {
    margin-top: 5px;
}

.signalement-panel .instructions .message-instructions {
    font-size: 12px;
}

.signalement-panel .geometry-button {
    float: right;
}

.signalement-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.signalement-panel .row div[class^="col-"],
.signalement-panel .row div[class*=" col-"] {
    padding-left: 0;
    padding-right: 0;
}

.signalement-panel .help-block {
    font-size: 12px;
}

.signalement-panel .localization-tips {
    font-size: 12px;
}

span .error {
    color: red;
}

span .info {
    color: orange;
}

fieldset{
    margin: 0 5px !important;
}

.error-box {
    min-height: 20px;
}
