.signalement-panel {
    
}

.signalement-panel .form-group {
    margin-bottom: 8px;
}

.signalement-panel legend {
    font-size: 18px;
}

.signalement-panel label {
    width: 30%;
}

.signalement-panel input {
    width: 65%;
    display: inline-block;
}

.signalement-panel .input-group {
    width: 100%;
}

.signalement-panel .input-group .addon {
    width: 35%;
}

.signalement-panel .block-valid-form {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.signalement-panel .block-valid-form .validation-button {
    margin-left: 5px;
}

.info-glyph .glyphicon {
    font-size: 25px;
}

.instructions {
    margin-top: 10px;
}

span .error {
    color: red;
}

span .info {
    color: orange;
}

fieldset{
    margin: 0 25px 0 30px;
}

.localization-tips {
    padding-top: 5px;
}
