---
version: "3"

volumes:
  postgresql_data:
  ldap_data:
  ldap_config:
  geoserver_geodata:
  geoserver_datadir:
  geoserver_tiles:
  mapfishapp_uploads:
  extractorapp_extracts:
  geonetwork_datadir:
  signalement_data:

services:
  database:
    image: georchestra/database:18.06
    environment:
      - POSTGRES_USER=georchestra
      - POSTGRES_PASSWORD=georchestra
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    ports:
      - "35432:5432"

  ldap:
    image: georchestra/ldap:19.04
    environment:
        - SLAPD_ORGANISATION=georchestra
        - SLAPD_DOMAIN=georchestra.org
        - SLAPD_PASSWORD=secret
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap
      - ./resources/MAPSTORE_ADMIN.ldif:/tmp/MAPSTORE_ADMIN.ldif
    command:
	  /bin/sh -c "/usr/bin/ldapadd -x -w secret -f /tmp/MAPSTORE_ADMIN.ldif -D \"cn=admin,dc=georchestra,dc=org\""
    ports:
      - "30389:389"

  proxy:
    image: georchestra/security-proxy:19.04
    depends_on:
      - ldap
      - database
    volumes:
      - ./config:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=1G

  cas:
    image: georchestra/cas:19.04
    depends_on:
      - ldap
    volumes:
      - ./config:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=1G

  header:
    image: georchestra/header:19.04
    volumes:
      - ./config:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=512M

  mapfishapp:
    image: georchestra/mapfishapp:19.04
    depends_on:
      - database
    volumes:
      - ./config:/etc/georchestra
      - mapfishapp_uploads:/mnt/mapfishapp_uploads
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=2G

  signalement:
    image: signalement-image
    depends_on:
      - database
      - ldap
    ports:
      - "{{signalement_server_expose_port}}:{{signalement_server_port}}"      
    volumes:
      - ./config:/etc/georchestra
      - signalement_data:/opt/signalement/data
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - ADD_JAVA_OPTS=
      - XMX=1G
      
  extractorapp:
    image: georchestra/extractorapp:19.04
    depends_on:
      - database
    volumes:
      - ./config:/etc/georchestra
      - extractorapp_extracts:/mnt/extractorapp_extracts
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=2G

  geoserver:
    image: georchestra/geoserver:19.04
    depends_on:
      - ldap
    volumes:
      - ./config:/etc/georchestra
      - geoserver_datadir:/mnt/geoserver_datadir
      - geoserver_geodata:/mnt/geoserver_geodata
      - geoserver_tiles:/mnt/geoserver_tiles
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=8G

  console:
    image: georchestra/console:19.04
    depends_on:
      - ldap
      - database
    volumes:
      - ./config:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=1G

  geonetwork:
    image: georchestra/geonetwork:19.04
    depends_on:
      - ldap
      - database
    volumes:
      - ./config:/etc/georchestra
      - geonetwork_datadir:/mnt/geonetwork_datadir
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=6G

  analytics:
    image: georchestra/analytics:19.04
    depends_on:
      - database
    volumes:
      - ./config:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=1G
