## Version de l'application
application.version=V0.0.1

# TEMPORARY DIRECTORY
temporary.directory=${java.io.tmpdir}/signalement

# LOG
logging.level.org.springframework=DEBUG
logging.level.org.georchestra=DEBUG

# SERVER 
server.port={{signalement_server_port}}
#spring.main.web-application-type=none

# BDD
spring.datasource.url=jdbc:postgresql://{{signalement_db_host}}:{{signalement_db_port}}/{{signalement_db_name}}?ApplicationName=signalement
spring.datasource.username={{signalement_db_user}}
spring.datasource.password={{signalement_db_password}}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect = org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
#spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults = false

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=false
# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

# SECURITY
server.servlet.session.cookie.secure=true
#server.servlet.session.cookie.http-only=true
#server.servlet.session.tracking-modes=cookie

spring.security.user.name=admin
spring.security.user.password={noop}{{signalement_admin_password}}
spring.security.user.roles=USER

# UPLOAD
# Taille maximum des fichiers à importer
spring.servlet.multipart.max-file-size=10MB

attachment.max-count=5
attachment.mime-types=image/png,image/jpeg,image/tiff,application/pdf,text/plain,text/html,text/csv,application/vnd.dxf,application/vnd.dwg,\
	application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.spreadsheet,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.graphics,\
	application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,\
	application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document

# EMAIL
mail.transport.protocol=smtp
mail.smtp.host={{signalement_smtp_host}}
mail.smtp.auth=false
mail.smtp.port={{signalement_smtp_port}}
mail.smtp.user={{signalement_smtp_username}}
mail.smtp.password={{signalement_smtp_password}}
mail.smtp.starttls.enable=true
mail.debug=false
mail.from=signalement@rennesmetropole.fr

#LDAP
spring.ldap.urls=ldap://{{signalement_ldap_host}}:{{signalement_ldap_port}}
spring.ldap.base=dc=georchestra,dc=org
spring.ldap.username={{signalement_ldap_username}}
spring.ldap.password={{signalement_ldap_password}}

ldap.user.searchBase=ou=users
ldap.objectClass=person
ldap.attribute.login=cn
ldap.attribute.firstName=givenname
ldap.attribute.lastName=sn
ldap.attribute.organization=description
ldap.attribute.email=mail

# GENERATION
freemarker.clearCache=false
freemarker.baseDirectory=${java.io.tmpdir}/models
freemarker.basePackage=models
freemarker.cssFile=
freemarker.fontsPath=fonts
