.text-center {
  text-align: center;
}

.add-form-title{
  margin-top : 0.2em;
  margin-bottom: 0.1em;
}
.add-form-input{
  padding: 1em 0.2em;
}

.add-form-file-button{
  margin-right: 0.5em;
}
.add-form-group{
  overflow: hidden;
}

.filter-input{
  height: 40px;
}

mat-form-field{
  margin: 0 0.5em;
}

mat-select{
  margin-top : 1em;
}